In [2]:
import pandas as pd

In [8]:
artists_df = pd.read_json('../data/raw/05_02_v1/artists.jsonl', lines=True)
tracks_df = pd.read_json('../data/raw/05_02_v1/tracks.jsonl', lines=True)
users_df = pd.read_json('../data/raw/05_02_v1/users.jsonl', lines=True)
sessions_df = pd.read_json('../data/raw/05_02_v1/sessions.jsonl', lines=True)
track_storage_df = pd.read_json('../data/raw/05_02_v1/track_storage.jsonl', lines=True)

In [12]:
print(artists_df.dtypes, artists_df.shape, artists_df.head())

id        object
name      object
genres    object
dtype: object (1667, 3)                        id            name  \
0  7jVv8c5Fj3E9VhNjxT4snq       Lil Nas X
1  0xRXCcSX89eobfrshSVdyu          MEDUZA
2  3OKg7YbOIatODzkRIbLJR4       TheFatRat
3  4f7KfxeHq9BiylGmyXepGt  Tanishk Bagchi
4  56mfhUDKa1vec6rSLZV5Eg       Jawsh 685

                                              genres
0  [country rap, lgbtq+ hip hop, pop rap, queer c...
1  [dance pop, edm, pop dance, pop house, tropica...
2                                         [speedrun]
3                [desi pop, filmi, modern bollywood]
4                                           [nz pop]

In [22]:
print(tracks_df.head())

                       id                                               name  \
0  0RNxWy0PC3AyH4ThH3aGK6                                     Mack the Knife
1  2W889aLIKxULEefrleFBFI                           Someone to Watch Over Me
2  4Pnzw1nLOpDNV6MKI5ueIR     Nancy (With the Laughing Face) - 78rpm Version
3  7GLmfKOe5BfOXk7334DoKt  Saturday Night (Is The Loneliest Night In The ...
4  6kD1SNGPkfX9LwaGd1FG92             Put Your Dreams Away (For Another Day)

   popularity  duration_ms  explicit               id_artist release_date  \
0        55.0       201467         0  19eLuQmk9aCobbVDHc6eek         1929
1        54.0       198000         0                    None         1943
2        55.0       199000         0  1Mxqyy3pSjf8kZZL4QVxS0         1944
3        54.0       163000         0  1Mxqyy3pSjf8kZZL4QVxS0         1944
4        53.0       186173         0  1Mxqyy3pSjf8kZZL4QVxS0         1944

   danceability  energy  key  loudness  speechiness  acousticness  \
0         0.673  0.3770    0   -14.141       0.0697         0.586
1         0.204  0.1510    2   -17.842       0.0418         0.947
2         0.295  0.0826    1   -19.569       0.0367         0.984
3         0.561  0.3350    9   -11.093       0.0499         0.840
4         0.197  0.0546    1   -22.411       0.0346         0.950

   instrumentalness  liveness  valence    tempo
0          0.000000     0.332    0.713   88.973
1          0.000009     0.321    0.134   91.783
2          0.000358     0.156    0.169  128.600
3          0.000002     0.788    0.590  126.974
4          0.276000     0.152    0.100   90.150

In [7]:
print(tracks_df.describe())
# print(tracks_df.columns)

         popularity   duration_ms      explicit  danceability        energy  \
count  21302.000000  2.241200e+04  22412.000000  22412.000000  22412.000000
mean      61.388133  2.301383e+05      0.166607      0.599096      0.648017
std        8.052055  7.209562e+04      0.372633      0.158259      0.209577
min       51.000000  3.062200e+04      0.000000      0.000000      0.000103
25%       55.000000  1.914930e+05      0.000000      0.495000      0.508000
50%       60.000000  2.206670e+05      0.000000      0.608000      0.672000
75%       67.000000  2.562400e+05      0.000000      0.715000      0.816000
max       99.000000  4.120258e+06      1.000000      0.980000      0.999000

                key      loudness   speechiness  acousticness  \
count  22412.000000  22412.000000  22412.000000  22412.000000
mean       5.278824     -7.196227      0.082914      0.267758
std        3.558813      3.738098      0.089317      0.276111
min        0.000000    -44.410000      0.000000      0.000001
25%        2.000000     -8.614500      0.033900      0.029800
50%        5.000000     -6.393000      0.046300      0.165000
75%        8.000000     -4.850000      0.086000      0.455000
max       11.000000      0.642000      0.944000      0.996000

       instrumentalness      liveness       valence         tempo
count      22412.000000  22412.000000  22412.000000  22412.000000
mean           0.040220      0.193141      0.518000    121.911945
std            0.152828      0.167943      0.244477     29.615254
min            0.000000      0.012000      0.000000      0.000000
25%            0.000000      0.094400      0.325000     97.988000
50%            0.000003      0.125000      0.512000    120.041000
75%            0.000523      0.240000      0.713000    140.078000
max            0.998000      0.997000      0.991000    220.099000

In [30]:
print(tracks_df.dtypes)

id                   object
name                 object
popularity          float64
duration_ms           int64
explicit              int64
id_artist            object
release_date         object
danceability        float64
energy              float64
key                   int64
loudness            float64
speechiness         float64
acousticness        float64
instrumentalness    float64
liveness            float64
valence             float64
tempo               float64
dtype: object

In [69]:
print(tracks_df.isnull().sum(), tracks_df.shape)

id                  1119
name                1147
popularity          1110
duration_ms            0
explicit               0
id_artist           1146
release_date           0
danceability           0
energy                 0
key                    0
loudness               0
speechiness            0
acousticness           0
instrumentalness       0
liveness               0
valence                0
tempo                  0
dtype: int64 (22412, 17)

In [68]:
print(tracks_df[tracks_df['popularity'] >= 80].count())

id                  515
name                511
popularity          538
duration_ms         538
explicit            538
id_artist           514
release_date        538
danceability        538
energy              538
key                 538
loudness            538
speechiness         538
acousticness        538
instrumentalness    538
liveness            538
valence             538
tempo               538
dtype: int64

In [39]:
print(users_df.head(), '\n', users_df.describe())

   user_id               name     city                  street  \
0     1151  Dominik Paździora  Wrocław  aleja Jabłoniowa 55/02
1     1152     Justyna Mszyca   Poznań          ul. Krótka 710
2     1153     Kornelia Witka   Gdynia      al. Kościuszki 587
3     1154     Jędrzej Kotala   Gdynia       pl. Kossaka 97/86
4     1155       Karol Kleban   Kraków      ul. Tulipanowa 861

                                    favourite_genres  premium_user   id
0                      [dance pop, latin, hard rock]           0.0 -1.0
1          [reggaeton, latin arena pop, modern rock]           0.0  NaN
2                              [rap, art rock, rock]           0.0  NaN
3  [mexican pop, contemporary country, psychedeli...           0.0  NaN
4            [rock, adult standards, permanent wave]           0.0  NaN
            user_id  premium_user    id
count   500.000000    478.000000  27.0
mean   1400.500000      0.219665  -1.0
std     144.481833      0.414454   0.0
min    1151.000000      0.000000  -1.0
25%    1275.750000      0.000000  -1.0
50%    1400.500000      0.000000  -1.0
75%    1525.250000      0.000000  -1.0
max    1650.000000      1.000000  -1.0

In [75]:
print(users_df.isnull().sum(), users_df.shape)

user_id               0
name                  0
city                  0
street                0
favourite_genres     29
premium_user         22
id                  473
dtype: int64 (500, 7)

In [84]:
A=sessions_df['user_id'].dropna()
A["user_id" == 1159]

KeyError: False

In [48]:
print(users_df['favourite_genres'].value_counts())
print(users_df.dtypes)

favourite_genres
[dance pop, latin, hard rock]                1
[norteno, dance pop, alternative rock]       1
[pop, dance pop, adult standards]            1
[corrido, corrido, rock en espanol]          1
[pop, folk rock, electropop]                 1
                                            ..
[uk pop, regional mexican, hard rock]        1
[french hip hop, rap, dance pop]             1
[album rock, neo mellow, classic rock]       1
[corrido, classic rock, alternative rock]    1
[french hip hop, canadian pop, rock]         1
Name: count, Length: 471, dtype: int64
user_id               int64
name                 object
city                 object
street               object
favourite_genres     object
premium_user        float64
id                  float64
dtype: object

In [52]:
print(sessions_df.dtypes)

session_id             int64
timestamp     datetime64[ns]
user_id              float64
track_id              object
event_type            object
dtype: object

In [70]:
print(sessions_df.shape, '\n', sessions_df.isnull().sum())

(759425, 5)
 session_id         0
timestamp          0
user_id        37870
track_id      135409
event_type     38047
dtype: int64

In [60]:
sessions_df.nunique()

session_id    133512
timestamp     677474
user_id          500
track_id       22412
event_type         4
dtype: int64

In [72]:
sessions_df[sessions_df['session_id'] == 132742].sort_values(by='timestamp')

,session_id,timestamp,user_id,track_id,event_type
754597,132742,2023-11-11 05:49:53.000,1297.0,5RmIP2OglmIOvsOxrE43Xw,play
754598,132742,2023-11-11 05:51:20.858,1297.0,5RmIP2OglmIOvsOxrE43Xw,skip
754599,132742,2023-11-11 05:51:25.858,1297.0,5BrVJGkFTBPAMRl5hIE9A7,play
754600,132742,2023-11-11 05:53:29.590,1297.0,5BrVJGkFTBPAMRl5hIE9A7,skip
754601,132742,2023-11-11 05:53:34.590,1297.0,None,advertisment
754602,132742,2023-11-11 05:53:34.590,1297.0,67VjdDhTa5jzQxHGe6f26r,play
754603,132742,2023-11-11 05:58:23.323,1297.0,None,advertisment
754604,132742,2023-11-11 05:58:23.323,1297.0,2LGdO5MtFdyphi2EihANZG,None
754605,132742,2023-11-11 06:02:45.886,1297.0,None,advertisment
754606,132742,2023-11-11 06:02:45.886,1297.0,4TofVhKSYwFXRtbYo5M3h4,play
754607,132742,2023-11-11 06:05:50.219,1297.0,None,advertisment
754608,132742,2023-11-11 06:05:50.219,1297.0,0gatssZ0J7pMAlvFCGZZGH,play
754609,132742,2023-11-11 06:08:57.592,1297.0,3Ys2PYl1wyPKQIwyqhP9cQ,play
754610,132742,2023-11-11 06:10:45.999,1297.0,3Ys2PYl1wyPKQIwyqhP9cQ,skip
754611,132742,2023-11-11 06:10:50.999,1297.0,None,advertisment
754612,132742,2023-11-11 06:10:50.999,1297.0,3dsvRFQ7YWkNBH8GTPwf7Q,play
754613,132742,2023-11-11 06:11:15.400,1297.0,3dsvRFQ7YWkNBH8GTPwf7Q,like
754614,132742,2023-11-11 06:13:39.490,NaN,3dsvRFQ7YWkNBH8GTPwf7Q,skip
754615,132742,2023-11-11 06:13:40.490,1297.0,5p7GiBZNL1afJJDUrOA6C8,play
754616,132742,2023-11-11 06:15:40.878,1297.0,None,None
754617,132742,2023-11-11 06:15:45.878,1297.0,5CdX4HXMRxyldTVxXDrzSA,play
754618,132742,2023-11-11 06:17:36.052,1297.0,None,advertisment
754619,132742,2023-11-11 06:17:36.052,1297.0,5CdX4HXMRxyldTVxXDrzSA,like
754620,132742,2023-11-11 06:19:30.411,1297.0,0axUHkhMMY0YSC1jFBVWqv,play
754621,132742,2023-11-11 06:20:41.942,1297.0,None,like
754622,132742,2023-11-11 06:22:53.958,1297.0,70fVcEP5pRrxaIICY3DcPe,play
754623,132742,2023-11-11 06:26:04.438,1297.0,None,advertisment

In [5]:
track_storage_df.head()

                 track_id storage_class  daily_cost
0  0RNxWy0PC3AyH4ThH3aGK6          slow    0.010073
1  2W889aLIKxULEefrleFBFI          slow    0.009900
2  4Pnzw1nLOpDNV6MKI5ueIR          slow    0.009950
3  7GLmfKOe5BfOXk7334DoKt          slow    0.008150
4  6kD1SNGPkfX9LwaGd1FG92          slow    0.009309

In [11]:
print(sessions_df.isna().sum(), sessions_df.shape)

session_id         0
timestamp          0
user_id        37870
track_id      135409
event_type     38047
dtype: int64 (759425, 5)